#product-overview {
    background: url("./images/freedom.jpg") center / cover no-repeat border-box;
    /* background-image: url("freedom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 10% bottom 20%;
    background-origin: border-box;
    background-clip: border-box; */
    width: 100vw;
    /* height: 528px; */
    height: 33vh;   /* 33% of the viewport */
    padding: 0.6rem;
    /* margin-top: 2.75rem; */
    position: relative;
}

#product-overview h1 {
    color: white;
    font-family: 'Calibri', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 1.6rem;
}

/* When the pixel reaches 640pixel this styles will kick in */
@media (min-width: 40rem) and (min-height: 40rem) {

    #product-overview {
        height: 40vh;
        background-position: 50% 24%;
    }

    #product-overview h1 {
        font-size: 3rem;
    }
}

.section-title {
    color: #2fcc2f;
    text-align: center;
    text-transform: uppercase;
}

/* Article Starts */
/* commenting for changing as mobile first design and moved to media query*/
/* .plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
} */

.plan {
    background: #a3ecab;
    text-align: center;
    padding: 1rem;
    /* commenting for changing as mobile first design and moved to media query*/
    /* margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle; */
    width: 100%;
    margin: 0.5rem 0;

}

.plan--highlighted {
    background: green;
    color: white;
    /* commenting for changing as mobile first design and moved to media query*/
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5); */
}

.plan__badge {
    background: white;
    color: green;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.61);
    border-radius: 8px;
}

.plan_features {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.plan_features li {
    margin: 0.5rem 0;
}

.plan__title {
    color: #0e4f14;
}

.plan__price {
    color: grey;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: black;
}

@media (min-width: 40rem) {
    .plan {
        display: inline-block;
        width: 30%;
        vertical-align: middle; 
        margin: 0.5rem;
        min-width: 13rem;
        max-width: 20rem;
    }

    .plan__list {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .plan--highlighted {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
}

/* Article Ends */


/* Key Feature Starts */
#key-features {
    background: #ff1b68;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title {
    color: white;
    margin: 2rem;
}

.key-features__list {
    list-style-type: none;
    /* commenting for changing as mobile first design and moved to media query*/
    margin: 0;
    padding: 0;
    text-align: center;
}

/* commenting for changing as mobile first design and moved to media query*/
/* .key-feature {
    display: inline-block;
    width: 33%;
    vertical-align: top;
} */

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid darkgray;
    border-radius: 50%;
    margin: auto;   /* Used to take up the available space horizontally  */
    padding: 1.2rem;  /* for reducing SVG size */
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

@media (min-width: 40rem) {
    /* .key-features__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    } */

    .key-feature {
        display: inline-block;
        width: 33%;
        vertical-align: top;
        max-width: 20rem;
    }
}

/* Key Feature Ends */

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }
