* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* height: 100%; */
}

.backdrop {
    background: rgba(0, 0, 0, 0.5);
    /* width: 100%;
    height: 100%; */
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: none;
    /* These 3 property added to fix the height 100% issue */
    position: fixed;
    top: 0;
    left: 0;
}

main {
    margin-top: 3.5rem;
}

.main-header {
    width: 100%;
    background: #2fcc2f;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    position: fixed;
    z-index: 1;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    text-decoration: none;
    color: #0e4f14;
    font-weight: bold;
    /* font-size: 1.4rem; */
    height: 2.5rem;
    display: inline-block;
}

.main-header__brand img {
    height: 100%;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
  }

.main-nav {
    display: none;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-nav__item {
    /* 
        Can able to set the li elements in inline and also we can use the top and bottom properties 
        of block element as well
    */
    display: inline-block;
    /* padding-left: 10px;
    padding-right: 10px; */
    margin: 0 1rem;
    font-size: 1.2rem;
}

.main-nav__item > a,
.mobile-nav__item > a {
    text-decoration: none;
    color: #0e4f14;
    font-weight: bold;
    padding: 0.2rem 0;
}

.main-nav__item > a:hover {
    color: white;
    border-bottom: 5px solid;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    color: white;
    background: crimson;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.mobile-nav__item--cta a:hover {
    color: crimson;
    background: white;
    border: none;
}

.main-footer {
    background: black;
    margin-top: 3rem;
    padding: 2rem;
}

@media (min-width: 40rem) {
    .toggle-button {
      display: none;
    }
  
    .main-nav {
      display: inline-block;
      text-align: right;
      width: calc(100% - 122px);
      vertical-align: middle;
    }
  }

.main-footer__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;   
}

.main-footer__link {
    display: inline-block;
    margin: 1rem;
}

.main-footer__link a {
    text-decoration: none;
    color: white;
}

.main-footer__link a:hover {
    color: #85eb91;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
  }
  
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
  }

.button {
    background: #0e4f14;
    color: white;
    padding: 0.5rem;
    font: inherit;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background: white;
    color: #0e4f14;
}

/* avoiding outline border during the clicking of the button */
.button:focus {
    outline: none;
}


/* 
While clicking the button in plans we are setting this class using javascript 
Due to the specificity this style overwritten by main.css modal class. 
So here we are setting important to overwrite the latest modal class style
*/
.open {
    display: block !important;
}